@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<div style="text-align: center">
<MudText Typo="Typo.h3" GutterBottom="true">Welcome to our OG&E csv analysis project!</MudText>
<MudText Class="mb-8">Click the button below to upload your .csv file!</MudText>

<MudFileUpload T="IBrowserFile" Accept=".csv" FilesChanged="Navigate" MaximumFileCount="100">
    <ActivatorContent>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CloudUpload">
            Only .csv files
        </MudButton>
    </ActivatorContent>
</MudFileUpload>
</div>


@code{
    private const int MAX_FILESIZE = 1000000 * 1024;
    FileUpload newFile = new FileUpload();
    public IBrowserFile NewBrowserFile {get;}
    async Task Navigate(IBrowserFile file)
    {
         if (file == null) return;
        var tempPath = System.IO.Path.Combine(System.IO.Path.GetTempPath(), file.Name);
        using var stream = file.OpenReadStream(MAX_FILESIZE);
        using var fileStream = new FileStream(tempPath, FileMode.Create);
        await stream.CopyToAsync(fileStream);
        //allows fileupload to access the filepath through the url
         NavigationManager.NavigateTo($"/upload?filePath={Uri.EscapeDataString(tempPath)}");
        
    }
}